<html>
<body>
<Style>
    Body{
        background-color: lightblue;
    }
</Style>

<form action="/create-message" method="post">
    <input type="text" name="message"placeholder="Type a message..."/>
    <button type="submit">Submit</button>
</form>

<br>
<form action="/edit-message" method="post">
    <input type="number" name="id" placeholder="#"/>
    <input type="text" name="message2" placeholder="Edit Message..."/>
    <button type="submit">Edit</button>
</form>
<br>
{{name}}'s messages:


    <ol>
    {{#messages}}
    <li>{{message}}</li>
    {{/messages}}
    </ol>

<br>

<form action="/delete-message" method="post">
    <input type="number" name="id" placeholder="#"/>
    <button type="submit">Delete Message</button>
</form>

<br>

<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>

